<?xml version="1.0"?>
<model>
    <name>iCub (feet fixed)</name>
    
    <version>1.0</version>
    <sdf version='1.4'>icub_feet_fixed.sdf</sdf>
    
    <author>
        <name>Francesco Nori</name>
        <email>francesco.nori@iit.it</email>
    </author>
    
    <description>
        Model for the iCub humanoid robot with fixed feet. For more information check icub.org .
    </description>
</model>
