<?xml version='1.0'?>
<database>
<name>iCub Gazebo Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://icub</uri>
<uri>file://icub_with_hands</uri>
<uri>file://icub_feet_fixed</uri>
<uri>file://icub_fixed</uri>
<uri>file://icub_legs</uri>
<uri>file://icub_one_foot</uri>
<uri>file://double_pendulum</uri>
<uri>file://iCubHeidelberg01_fixed</uri>
<uri>file://iCubHeidelberg01_model</uri>
<uri>file://iCubGenova02</uri>
<uri>file://iCubGenova02_fixed</uri>
<uri>file://seesaw</uri>
<uri>file://inclined_plane</uri>
</models>
</database>
