<?xml version='1.0'?>
<database>
<name>iCub Gazebo Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://icub</uri>
<uri>file://icub_feet_fixed</uri>
<uri>file://icub_fixed</uri>
<uri>file://icub_legs</uri>
<uri>file://double_pendulum</uri>
</models>
</database>
