<?xml version="1.0"?>
<model>
    <name>iCub with hands</name>

    <version>1.0</version>
    <sdf version='1.5'>icub_with_hands.sdf</sdf>

    <author>
        <name>Silvio Traversaro, Marco Randazzo</name>
        <email>silvio.traversaro@iit.it, marco.randazzo@iit.it</email>
    </author>

    <description>
        Model for the iCub humanoid robot with hands and cameras. For more information check icub.org .
    </description>
</model>
