<?xml version="1.0"?>
<model>
    <name>inclined_plane</name>
    
    <version>1.0</version>
    <sdf version='1.5'>inclined_plane.sdf</sdf>
    
    <author>
        <name>Silvio Traversaro</name>
        <email>silvio.traversaro@iit.t</email>
    </author>
    
    <description>
        A simple Seesaw board.
    </description>
</model>
