<?xml version="1.0"?>
<model>
    <name>iCub (No FT)</name>
    
    <version>1.0</version>
    <sdf version='1.5'>icub_no_ft.sdf</sdf>
    
    <author>
        <name>Silvio Traversaro</name>
        <email>silvio.traversaro@iit.it</email>
    </author>
    
    <description>
        Model for the iCub humanoid robot, with the six axis FT sensor 
        simulation disabled for increased simulation stability. 
        For more information check icub.org .
    </description>
</model>
