<?xml version="1.0"?>
<model>
    <name>iCub (fixed)</name>
    
    <version>1.0</version>
    <sdf version='1.4'>icub_fixed.sdf</sdf>
    
    <author>
        <name>Silvio Traversaro</name>
        <email>silvio.traversaro@iit.it</email>
    </author>
    
    <description>
        Model for the iCub humanoid robot. For more information check icub.org .
    </description>
</model>
