<?xml version="1.0"?>
<model>
    <name>box</name>
    
    <version>1.0</version>
    <sdf version='1.5'>box.sdf</sdf>
    
    <author>
        <name>Prashanth Ramadoss</name>
        <email>prashanthramadoss@gmail.com</email>
    </author>
    
    <description>
        A simple box model, to test the contact forces and reactions
    </description>
</model>
