<?xml version="1.0"?>
<model>
    <name>iCub (multi-IMU)</name>
    
    <version>1.0</version>
    <sdf version='1.5'>icub_multiIMU.sdf</sdf>
    
    <author>
        <name>Naveen Kuppuswamy</name>
        <email>naveen.kuppuswamy@iit.it</email>
    </author>
    
    <description>
        Model for the iCub humanoid robot including multiple IMU sensors. For more information check icub.org .
    </description>
</model>
