<?xml version="1.0"?>
<model>
    <name>iCub (with cameras)</name>
    
    <version>1.0</version>
    <sdf version='1.5'>icub_with_cameras.sdf</sdf>
    
    <author>
        <name>Silvio Traversaro,Daniele Domenichelli,Marco Randazzo</name>
        <email>silvio.traversaro@iit.it,daniele.domenichelli@iit.it,marco.randazzo@iit.it</email>
    </author>
    
    <description>
        Model for the iCub humanoid robot. For more information check icub.org .
    </description>
</model>
