<?xml version="1.0"?>
<model>
    <name>iCub on Seesaw</name>
    
    <version>1.0</version>
    <sdf version='1.5'>icub_on_seesaw.sdf</sdf>
    
    <author>
        <name>Francesco Romano</name>
        <email>francesco.romano@iit.it</email>
    </author>
    
    <description>
        Model for the iCub humanoid robot fixed on a seesaw.
    </description>
</model>
